<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<body>

    <div class="newsltr_bg">
        <div style="float: left; width: 90%; background-image: url(http://74.208.69.145:8090/images/index.jpg); background-size: cover; padding: 24px;">
            <div style="float:left; width:100%; text-align:center; background-color:rgba(255, 255, 255, 0.8);">
                <h2 style="float:left; width:100%; font-weight:bold; padding:6px 0; color: #990000; font-family:'Times New Roman', Times, serif; font-size:34px;
       font-style:italic; margin-top:6%;margin-bottom:0; padding:8px 0; ">
                    Wish you a very
                </h2>
                <h2 style="float:left; width:100%; font-weight:bold; margin:0px 0 20px; color: #990000; font-family:'Times New Roman', Times, serif; font-size:54px;
       font-style:italic; padding:8px 0;">
                    Happy Birthday
                </h2>
                <h2 style="float:left; width:100%; margin:0 0 20px 0; padding:6px 0; color: #00038c; font-weight:bold; font-family: Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:38px;"> {Name}</h2>
                <h2 style="float:left; width:100%; margin:0px 0 20px 0; padding:6px 0; color: black; font-family: Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:38px;">{DOB}</h2>
                <div style="float:left; width:100%; text-align:center; margin:16px 0;">
                    <!--<img src="images/birderthday_profile.jpg" alt="" title="" style="width:200px; height:200px; border-radius:160px; border:4px solid #00038c;" />-->
                    <img src="{PhotoPath}" alt="" title="" style="width:200px; height:200px; border-radius:160px; border:4px solid #00038c;" />
                    
                </div>
                <div style="float:left; width:100%; margin:80px 0; ">
                    <img src="http://74.208.69.145:8090/images/birthday_futer.png" alt="" title="" style="width:100%;" />
        
    </div>

                <!--<div style="float:left; width:100%; margin:80px 0; background-color:rgba(0, 0, 255, 0.6);">
                    <img src="http://74.208.69.145:8090/images/futer_logo.png" alt="" title="" style="float:left; padding:18px; width:140px;" />
                    <div style="margin:38px 0;">
                        <h2 style="float:left; color:white; font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">From: AJ SHAH</h2>
                        <h2 style="float:left; color:white; font-size:24px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; margin:17px 0;">Homelife / Miracle Realty Ltd.</h2>
                    </div>
                </div>-->

            </div>


        </div>
    </div>
    <!--birderthday_profile.jpg-->

</body>
</html>