<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="newsltr_bg">
        <div style="float: left; width: 90%; background-image: url(http://74.208.69.145:8090/images/index2.jpg); background-size: cover;">
            <div style="float:left; width:100%; text-align:center;">
                <img src="http://74.208.69.145:8090/images/christmas_img.png" alt="" title="" style=" margin:63px 0 0;" />
            </div>
            <div style="float:left; width:100%;">
                <img src="http://74.208.69.145:8090/images/santa.png" alt="" title="" />
            </div>
            <div style="float:left;text-align:center; width:100%; margin:24px 0;">
                <img src="http://74.208.69.145:8090/images/futer_img_new.png" alt="" title="" />
            </div>


        </div>
    </div>
</body>
</html>